/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}

.hero {
  background-image: url("images/kyiv-hero-bg.jpg");
  background-size: cover;
  height: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  background: #1d3557;
  padding: 5px 29px;
  border-radius: 10px;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  background: #457b9d;
  padding: 5px 29px;
  border-radius: 10px;
  width: 355px;
}

/* activities section */

.activities {
  background: #f1faee;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d3557;
}

.activities-figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 58px;
  margin-bottom: 23px;
}
.activities-figure h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #1d3557;
}

.activities-figure p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #1d3557;
}

.activities-description {
  width: 198px;
}

/* giude section  */

.guide-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;

  background: #a8dadc;
  box-shadow: 0px 6px 0px #1d3557;
  border-radius: 10px;

  width: 400px;
  height: 294px;
  margin: 50px 160px;
}

.guide-image {
  width: 180px;
  height: 248.67px;

  margin: 23px 7px 23px 13px;

  background: url(images/ferik.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.guide-info {
  width: 189px;
}

.guide-info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #1d3557;
}

.guide-info p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #1d3557;
}

.guide-info h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #1d3557;
}
